.container {
  background: var(--green);
  padding: 2rem;

  display: flex;
  justify-content: space-between;

  width: 100%;
}

.container > section:first-child {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 2rem;
  grid-auto-flow: column;
}

.container > section:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.container > section > a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;

  display: flex;
  align-items: center;
}

.container > section > a img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.container > section > a svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.container > section > a svg > path {
  fill: #000000;
}

.container > section:last-child > img {
  width: 4rem;
  height: 4rem;
}

@media (max-width: 720px) {
  .container {
    align-items: center;
    flex-direction: column-reverse;
  }

  .container > section {
    margin: 2rem 0 1rem 0;
  }

  .container > section:first-child {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .container > section:last-child {
    height: 8rem;
  }
}