.container > header .profileImage {
  width: 10rem;
  height: 10rem;

  border-radius: 50%;

  margin-top: 1rem;
}

.container > header .filterContainer {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 24px;
  overflow: hidden;
  
  margin: 0 1rem 2rem 0;

  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  transition: 1s;
}

.container > header .filterContainer:hover {
  width: 100%;
}

.container .filter {
  width: 24px;
  height: 24px;

  margin-left: 1rem;

  cursor: pointer;

  transition: filter 0.2s;
}

.container .filter:hover {
  filter: brightness(0.95);
}

.filterContainer > select {
  background: none;
  color: var(--white );
  
  font-weight: 600;

  border: none;
  outline: none;
}

.filterContainer > select > option {
  color: #000000;
}

.gridContainer {
  margin: 2rem auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;

  max-width: 1000px;
}

.container > button {
  z-index: 1;

  width: 4rem;
  height: 4rem;

  margin: 2rem;

  background: var(--green);
  border-radius: 50%;
  border: none;
  outline: none;

  cursor: pointer;

  position: fixed;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;

  transition: 0.6s;
}

.container > button:hover {
  filter: brightness(0.9);
  transform: rotate(90deg);
}

@media (max-width: 1080px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    max-width: 720px;
  }
}

@media (max-width: 720px) {
  .gridContainer {
    margin: 1rem auto;

    grid-template-columns: 1fr;
  }
}