.container {
  max-width: 100vw;
  height: 100%;
  padding: 0 10vw;
  background: var(--white);

  display: flex;
  align-items: center;
  flex-direction: column;

  font-size: 1rem;
}

.container > main {
  width: 100%;
}

.container > img {
  width: 6rem;
  height: 6rem;
}

.container .title {
  font-size: 2.6rem;
  margin: 0 0 4rem 0;
}

.container h1 {
  padding: 3px 2px;
}

.container h2 {
  padding: 3px 2px;
}

.container p {
  width: 100%;
  margin: 1rem 0;
}

.container > main img {
  width: 100%;
  margin: 4px;
}

.container > main img[alt=origin-of-dinosaurs-in-a-nutshell] {
  width: 20rem;
  display: flex;
  margin: 0 auto;
}

.container pre {
  flex: 1;

  background: #3f4447;
  color: rgba(255, 255, 255, 0.9);
  overflow-x: auto;
  border-radius: 3px;

  margin: 4px;
  padding: 34px 16px 32px 32px;

  text-align: left;
  tab-size: 2;
  white-space: pre;
}