.container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.container form {
  width: 80vw;
  max-width: 400px;
  margin: 3rem 0;
}

.container legend {
  width: 100%;
  color: #888888;
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem 0;
}

.container fieldset {
  width: 100%;
  border: none;
  margin-bottom: 2rem;
}

.container fieldset > button {
  display: flex;

  margin: 0 100%;
  transform: translateX(-100%);
  
  background: none;
  color: var(--green);

  border: none;
  
  font-size: 1rem;
  font-weight: 700;

  cursor: pointer;
  
  transition: filter 0.2s
}

.container fieldset button > img {
  margin-right: 8px;
}

.container fieldset > button:hover {
  filter: brightness(0.9);
}

.container fieldset > .foodContainer {
  margin-bottom: 4rem;
}

.container fieldset > .foodContainer > section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'price category category';
  gap: 1rem;
}

.container .foodContainer > section > div:first-child {
  grid-area: price;
}

.container .foodContainer > section > div:last-child {
  grid-area: category;
}